* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url(../fonts/Open\ Sans\ Condensed/OpenSansCondensed-Bold.ttf),
    url(../fonts/Open\ Sans\ Condensed/OpenSansCondensed-Light.ttf),
    url(../fonts/Open\ Sans\ Condensed/OpenSansCondensed-LightItalic);
}

.open-sans {
    font-family: 'Open Sans';
}

.os-c-bold {
    font-family: 'Open Sans Condensed';
    font-style: bold;
}

.flex {
    display: flex;
}

.total-center-flex {
    align-items: center;
    display: flex;
    justify-content: center;
}


/* ====================================================================== */



html,
body {
    width: 100%;
    height: 100%;
}



/* ====================================================================== */
/* HEADER */


#header {
    flex-direction: row;
    justify-content: space-around;
    padding: 3vw 3vw 3vw 10vw;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.burger {
    width: 0;
    z-index: -1;
}

#menu-mobile{
    width: 0;
    z-index: -1;
}

.menu ul {
    flex-direction: row;
    list-style: none;
}

.menu-item a:hover, 
.header-phone a:hover,
.menu-item button:hover {
    border-bottom: 3px solid #D1A954;
    cursor: pointer;
    padding-bottom: 5px;
}

.menu-item a,
.menu-item button {
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed';
    font-size: 18px;
    /* font-weight: 700; */
    line-height: 25px;
    letter-spacing: 0.1em;
    padding-bottom: 8px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-item + .menu-item {
    margin-left: 2vw;
}

.header-phone a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
    padding-bottom: 8px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}


/* ====================================================================== */
/* MAIN */

.main-button{
    background: #D1A954;
    border: none;

    color: #FFFFFF;
    font-family: 'Open Sans Condensed';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 25px;
    padding: 20px 50px;
    text-align: center;
    text-transform: uppercase;
}

.main-button:hover {
    background: #b89342;
    cursor: pointer;
}

.main-button:active{
    background: #e8c16f;
}



/* ---------------------------------------------------------------------- */
/* ГЛАВНАЯ СТРАНИЦА */


.main-section-back {
    background-color: rgba(51, 51, 51, 0.85);
    flex-direction: row;
    padding: 10vw 1vw 5vw 1vw;
    position: relative;
}

#main-section {
    background: url(../images/главный_экран.png) no-repeat center center;
    background-size: cover auto;
    border-bottom: 2px dashed #C4C4C4;
}

.contact-vertical {
    align-items: center;
    background: rgba(51, 51, 51, 0.75);
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    padding: 3vw 4vw;
    position: absolute;
    top: 0;
    z-index: 12;
}

.contact-vertical p {
    color: #C4C4C4;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 25px;
    text-transform: uppercase;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

.contact-vertical svg{
    cursor: pointer;
}

.contact-svg + .contact-svg {
    margin-top: 2vw;
}

.contact-vertical path {
    fill: rgba(255, 255, 255, 0.6);
}

.contact-vertical svg:hover path {
    fill: #D1A954;
}

.contact-vertical-line {
    background-color: #C4C4C4;
    height: 80px;
    margin: 2vw 0;
    width: 3px;
}

/* ---------------------------- */

.main-items {
    flex-direction: row;
    justify-content: center;
    padding-left: 10vw;
}

.main-item {
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.main-item + .main-item {
    margin-left: 3vw;
}

.main-item h1 {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 87px;
    margin-bottom: 2vw;
    text-transform: uppercase;
}

.main-item p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 2vw;
}



/* ---------------------------- */



/* ====================================================================== */
/* ЗАГОЛОВКИ ВТОРОГО УРОВНЯ */

h2 {
    color: #FFF;
    font-family: 'Open Sans Condensed';
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 65px;
    padding-bottom: 4vw;
    text-align: center;
    text-transform: uppercase;
}

h2 span {
    color: #D1A954;
}



/* ---------------------------------------------------------------------- */
/* О ТЕАТРЕ */

#about-theatre{
    background: #333333;
    flex-direction: column;
    padding: 5vw 1vw;
}

.about-head-p {
    color: #FFF;
    font-size: 21px;
    /* font-weight: 700; */
    letter-spacing: 0.1em;
    line-height: 29px;
    margin-bottom: 2vw;
    text-transform: uppercase;
}

#about-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    width: 445px;
}

.about-items {
    flex-direction: row;
    justify-content: center;
}

.about-item {
    flex-direction: column;
}

.about-item + .about-item {
    margin-left: 3vw;
}

#about-numbers img {
    width: 70px;
}

#about-num-flex,
.about-numbers-block {
    flex-direction: column;
}

.about-numbers-block + .about-numbers-block {
    margin-top: 2vw;
}

.about-number-item {
    color: #fff;
    font-size: 16px;
    /* font-weight: 700; */
    line-height: 22px;
    letter-spacing: 0.05em;
    padding-top: 0.59vw;
}

.about-number-item span {
    color: #D1A954;
}

#about-img {
    max-width: 350px;
}



/* ---------------------------------------------------------------------- */
/* постановки */

#performance-info{
    background: #333333;
    flex-direction: column;
    padding: 5vw 1vw;
}



/* ---------------------------------------------------------------------- */
/* рейтинг театра */

#rating-info {
    background: #333333;
    padding: 5vw 1vw;
}

.rating-back-img {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)),
    url(../images/премия.png) no-repeat center center;
    background-size: 100% auto;
    height: 550px;
    justify-content: space-around;
    width: 1110px;
}

.rating-years {
    color: #D1A954;
    flex-direction: column;
    font-size: 72px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.1em;
    line-height: 98px;
}

.rating-year + .rating-year {
    margin-top: 3vw;
}

.rating-stars {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vw;
}

.rating-text {
    flex-direction: column;
    justify-content: center;
}

.rating-text p {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    max-width: 540px;
}



/* ---------------------------------------------------------------------- */
/* партнёры театра */

#partners-info {
    background: #333333;
    flex-direction: column;
    padding: 5vw 1vw;
}

.partner-logo {
    flex-wrap: wrap;
    width: 70%;
}

.partner-item {
    height: 96px;
    width: 200px;
}

.partner-item{
    margin: 2vw;
}



/* ---------------------------------------------------------------------- */
/* стать меценатом */

#input-forms {
    background: #333333;
    flex-direction: column;
    padding: 5vw 1vw;
}

.input-block {
    flex-direction: row;
}

.input-contacts{
    flex-direction: column;
    padding: 1vw;
}

.input-contacts a {
    color: #FFF;
    font-size: 16px;
    /* font-weight: 700; */
    letter-spacing: 0.05em;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

.input-contacts-item + .input-contacts-item,
.input-contacts-tel + .input-contacts-add {
    margin-top: 1vw;
}

.input-contacts-tel,
.input-contacts-add {
    flex-direction: column;
}


/* ----------------- */



.input-items {
    /* align-items: center; */
    flex-direction: row;
}

.input-item {
    align-content: space-between;
    flex-direction: column;
    /* height: 100%; */
    justify-content: space-between;
    width: 100%;
}

.input-item-row {
    flex-direction: row;
    justify-content: space-between;
}

.input-item input,
.textarea-item textarea {
    background: #444444;
    border: 1px solid #616161;
    color: #989898;
    font-size: 12px;
    font-weight: 600;
    line-height: 150%;
    padding: 15px;
}

.textarea-item textarea::placeholder,
.input-item input::placeholder{
    font-family: 'Open Sans';
    color: #989898;
    font-size: 12px;
    font-weight: 600;
    line-height: 150%;
}

.input-item input{
    margin: 0.5vw;
}

.textarea-item textarea {
    /* height: 100%; */
    height: 7vw;
    margin: 0.5vw;
    width: 310px;
}

.input-item input:hover,
.textarea-item textarea:hover,
.input-item input:focus,
.textarea-item textarea:focus {
    box-shadow: 0 0 0 0.2rem rgba(199, 199, 199, 0.6);
    color: rgba(199, 199, 199, 1);
    opacity: 0.9;
    outline: 0;
}

.input-send-info {
    flex-direction: row;
    justify-content: space-between;
}

.input-send-info p {
    color: #989898;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    margin: 1vw;
    width: 390px;
}

.input-send-info button {
    margin: 1vw;
}



/* ====================================================================== */
/* footer */
footer {
    background: #333333;
}

#index-footer-block{
    border-top: 1px solid #565656;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw;
    width: 60%;
}

#index-footer-block p,
#index-footer-block a {
    color: #989898;
    font-size: 12px;   
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}