.slyder-scroll::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
}
.slyder-scroll::-webkit-scrollbar-track {
    /* background: orange;  */       /* цвет дорожки */
}
.slyder-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(51, 51, 51);    /* цвет плашки */
    border: 3px solid rgb(165, 165, 165);  /* padding вокруг плашки */
    border-radius: 15px;       /* закругления плашки */
}

.slyder-scroll::-webkit-scrollbar-thumb:hover{
    border: 3px solid #D1A954;
}



/* ============================================== */



.slyder-scroll {
    flex-direction: row;
    margin: 0 10vw;
    overflow-x: scroll;
    padding-bottom: 2vw;
    padding-left: 10vw;
    width: 100%;
}

.slyder-scroll-item {
    height: 550px;
    min-width: 400px;
}

.slyder-scroll-item-grey {
    background: rgba(51, 51, 51, 0.65);
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
}

.slyder-scroll-item:hover .slyder-scroll-item-grey {
    background: transparent;
    cursor: pointer;
}

.slyder-icon {
    background: url(../images/magnifier.svg) no-repeat center center,
              rgb(209, 169, 84);
    border-radius: 50%;
    height: 100px;
    opacity: 0;
    width: 100px;
}

.slyder-scroll-item:hover .slyder-icon {
    opacity: 1;
}

.slyder-scroll-item:hover p {
    opacity: 0;
}


/* ================================================= */



#slyde-s-1{
    background: url(../images/постановка1.png) no-repeat center center;
    background-size: cover;
}

#slyde-s-2{
    background: url(../images/постановка2.png) no-repeat center center;
    background-size: cover;
}

#slyde-s-3{
    background: url(../images/постановка3.png) no-repeat center center;
    background-size: cover;
}

#slyde-s-4{
    background: url(../images/постановка4.png) no-repeat center center;
    background-size: cover;
}



/* ================================================= */



.slyder-header,
.slyder-month-year {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
}

.slyder-header {
    font-size: 24px;
    left: 0;
    letter-spacing: 0.05em;
    line-height: 33px;
    margin-left: 2vw;
    margin-top: 2vw;
    top: 0;
}

.slyder-month-year {
    bottom: 0;
    font-size: 18px;
    left: 0;
    letter-spacing: 0.1em;
    line-height: 25px;
    margin-bottom: 2vw;
    margin-left: 2vw;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}