@media (max-width: 992px) {
    #header {
        align-items: center;
        flex-direction: column;
    }

    .header-phone {
        margin-top: 2vw;
    }

    .main-slyder,
    #about-img {
        display: none;
        visibility: hidden;
    }

    .main-item {
        margin: 10vw auto;
        padding: 0 5vw;
        width: 100%;
    }

    #rating-info {
        padding: 5vw 0;
    }

    .rating-back-img {
        background-size: cover;
        width: 100%;
    }

    .input-block {
        flex-direction: column-reverse;
    }
    
    .input-contacts {
        flex-direction: row;
        justify-content: space-between;
    }

    .input-contacts-tel + .input-contacts-add{
        margin-left: 1vw;
        margin-top: 0;
    }

    .input-contacts-add a {
        text-align: right;
    }
}

@media screen, (max-width: 768px) {
    #header {
        align-items: end;
        padding: 3vw;
    }

    .burger {
        background: transparent;
        border: 0;
        cursor: pointer;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        left: 3vw;
        position: absolute;
        top: 5vw;
        width: 30px;
        z-index: 20;
    }

    .burger-line {
        background: #fff;
        height: 4px;
    }

    #burder-1 {
        width: 100%;
    }
    #burder-2 {
        width: 80%;
    }
    #burder-3 {
        width: 50%;
    }

    .burger:focus ~ #menu-mobile {
        left: 0;
    }



    .burger-exit-block {
        justify-content: flex-end;
        width: 100%;
    }

    .burger-exit {
        background: transparent;
        border: 0;
        cursor: pointer;
        height: 25px;
        margin-bottom: 10vw;
        position: relative;
        width: 25px;
    }

    .burger-exit:focus ~ #menu-mobile {
        left: -100%;
    }

    .burger-exit .burger-line {
        width: 100%;
    }

    .burger-exit .burger-line{
        position: absolute;
    }

    #burder-exit-1{
        transform: rotate(45deg);
    }
    #burder-exit-2{
        transform: rotate(-45deg);
    }

    #menu-mobile {
        background: #333;
        height: 100%;
        left: -100%;
        padding: 5vw 3vw;
        /* position: absolute; */ /* на высоту главного блока + хедер */
        position: fixed; /* на всю высоту экрана */
        top: 0;
        transition: left .3s linear;
        width: 40%;
        z-index: 20;
    }

    .menu-mobile-items ul {
        flex-direction: column;
        list-style: none;
    }

    .menu-mobile-item button{
        background: transparent;
        border: none;
        color: #FFFFFF;
        font-family: 'Open Sans Condensed';
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.05em;
        padding-bottom: 8px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-mobile-item button:hover {
        border-bottom: 3px solid #D1A954;
        cursor: pointer;
        padding-bottom: 5px;
    }

    .menu-mobile-item + .menu-mobile-item {
        margin-top: 3vw;
    }
    
    .menu,
    .contact-vertical {
        display: none;
        visibility: hidden;
    }

    .main-items {
        padding: 0;
    }



    #about-theatre{
        padding: 5vw 3vw;
    }


    .rating-back-img{
        padding: 5vw 3vw;
    }
    .rating-years{
        font-size: 55px;
    }
    .rating-text{
        margin-left: 5vw;
    }
    .rating-text p{
        font-size: 25px;
    }



    .input-contacts{
        padding: 2vw;
    }

    .input-items {
        flex-direction: column;
    }

    .input-item-st {
        width: 45%;
    }

    .textarea-item, .input-item {
        width: 100%;
    }

    .textarea-item {
        justify-content: center;
    }

    .input-item input,
    .textarea-item textarea {
        margin: 2vw;
    }

    .textarea-item textarea {
        height: 15vw;
        width: 100%;
    }

    .input-send-info p,
    .input-send-info button {
        margin: 2vw;
    }



    #index-footer-block{
        width: 96%;
    }
}

@media screen, (max-width: 576px) {
    .about-items {
        align-items: center;
        flex-direction: column;
    }

    .about-item,
    .about-numbers-block {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #about-text,
    .about-number-item {
        text-align: center;
    }

    .about-item + .about-item {
        margin-left: 0;
        margin-top: 5vw;
    }

    .about-number-img {
        display: flex;
        justify-content: center;
    }
}