* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/Open\ Sans\ Condensed/OpenSansCondensed-Bold.ttf'),
    url('../fonts/Open\ Sans\ Condensed/OpenSansCondensed-Light.ttf'),
    url('../fonts/Open\ Sans\ Condensed/OpenSansCondensed-LightItalic');
}

.open-sans {
    font-family: 'Open Sans';
}

.os-c-bold {
    font-family: 'Open Sans Condensed';
    font-style: bold;
}

.flex {
    display: flex;
}

.total-center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ====================================================================== */

body {
    background: #333333;
}




/* ====================================================================== */
/* HEADER */

.header {
    flex-direction: row;
    justify-content: space-around;

    padding: 3vw;
}

.menu ul {
    flex-direction: row;
    list-style: none;
}

.menu-item {
    padding-bottom: 5px;
}

.menu-item:hover, .header-phone:hover {
    border-bottom: #D1A954;
    border-width: 2px;
    border-style: solid;

    cursor: pointer;
}

.menu-item button {
    border: none;
    background: none;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.menu-item + .menu-item {
    margin-left: 2vw;
}

.header-phone a {
    padding-bottom: 5px;

    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}


/* ====================================================================== */
/* MAIN */

.main-button{
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

    background: #D1A954;
    padding: 20px 50px;
    border: none;
}

.main-button:hover {
    background: #b89342;
}

.main-button:active{
    background: #e8c16f;
}



/* ---------------------------------------------------------------------- */
/* ГЛАВНАЯ СТРАНИЦА */

.main-section {
    flex-direction: row;
}

.contact-vertical {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-vertical p {
    transform: rotate(270deg);

    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #C4C4C4;
}

.contact-vertical path {
    fill: rgba(255, 255, 255, 0.6);
}

.contact-vertical svg:hover path {
    fill: #D1A954;
}

/* ---------------------------- */

.main-items {
    flex-direction: row;
    justify-content: space-around;
}

.main-item {
    width: 40%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.main-item h1 {
    margin-bottom: 2vw;

    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.main-item p {
    margin-bottom: 2vw;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #FFFFFF;
}